.searchHeader{
 text-align: center;
}



.search-header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 12px;
  width: 415px;
}


.Menu-name{
  width: 220px;
  text-align: center;
  font-size: 21px;
}

.pre-icon{
  width: 35px;
}

.search-icon{
  height: 35px;
  width: 35px;
  color: rgba(0, 0, 0, .0);
}

.search {
  
  width: 360px;
}