.main-banner {
  width: 428px; 
  height: 185px;
  overflow: hidden;
  justify-content: center;
  position: relative;
  
}

.main-banner img {
  width: 428px; 
  align-items: center;
  
}

.Banner p{
  position: absolute;
  font-weight: bold;
  color: white;
  text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, .2);
  font-size: 25px;
  top: 36%;
  left: 6%;
}

.Banner .p2{
  position: absolute;
  font-weight: bold;
  font-weight: 100;
  color: white;
  font-size: 14px;
  top: 60%;
  left: 7%;
}

