.Bar {
width: 100%;
  position : fixed;
  bottom : 0;
  height: 60px;
  width: 428px;
  background-color: white;
  border-top: 1px solid lightgray;
  
}


.Bar-icon {
  justify-content: space-around;

}

.menuBar {
  text-align: center;
  font-size: 11px;
  
  padding-top: 2px;
  bottom: 0px;
  }
  

.menu-icon {
bottom: 20px;
height: 29x;
border-style: none;
background-color: white;
margin-top: 5px;
}


.menu-icon img{
  height: 29px;
  }
  

 .Bar-name{
    font-size: 11px;
    color: rgb(39, 39, 39);
  }