.Bar {
width: 100%;
  position: absolute;
  bottom: 0px;
  height: 60px;
  
  border-top: 1px solid lightgray;
  
}


.Bar-icon {
  justify-content: space-around;

}

.menu {
  text-align: center;
  font-size: 11px;
  color: black;
  padding-top: 2px;
  bottom: 0px;
  }
  

.menu-icon {
bottom: 20px;
height: 29x;
border-style: none;
background-color: white;
margin-top: 5px;
}


.menu-icon img{
  height: 29px;
  }
  