.modalWrapper{
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, .5);
 
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, .2);
  position: absolute;  
}


.text{
  font-size: 15px;
  margin-top: 60px;
  margin-left: 20px;
  color: white;
  font-weight: 500;
}

